.dropbtn {
    background-color: #000000;
    color: white;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
    width : 170px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.marg{
    margin-top: -1%;
}
.headd{
    text-align:center;
    color : white;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 22%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.container {
    background-color: #000000;
    width: 100%;
}

body {
    height: 100%;
}

h1 {
    font-family: 'Barrio', cursive;
    font-size: 75px;
    color:#003d99;
    text-align: center;
}
#or {
    color: orange;
    display: inline;
}
#gr {
    color: #00cc00;
    display: inline;
}
#searchbar{
    width: 75%;
    margin-left: 13%;
    margin-top: 6%;
    border-radius: 8px;
    border: none;
}
#searchbar2{
    width: 75%;
    margin-left: -15%;
    margin-top: 6%;
    border-radius: 8px;
    border: none;
}
#show_info{
    color :  white;
    padding-left : 10px;
}
.backimg{
    background-image: url(bac.jpg);
}
#menu li {
    color: white;
    font-family: 'Indie Flower', cursive;
    padding: 10px;
    font-size: 23px;
    display: inline;
}

 h5 {
    font-family: 'Barrio', cursive;
    font-weight: 900;
    font-size: 35px;
    color: white;
}

#list {
    cursor: pointer;
}

ul{
    margin-left: -30px;
    margin-top: 5px;
}

#map {
    border: 0.8px solid #ffff66;
    padding: 10px;
    margin-left: 5px;
    margin-right: 50px;
    margin-bottom: 11px;
    width: 40%;
    height: 420px;
}

@media screen and (max-width: 991px) {

    #map {
    border: 0.8px solid #ffff66;
    padding: 10px;
    margin-left: 5px;
    margin-right: 50px;
    margin-bottom: 11px;
    width: 40%;
    height: 320px;
}
    h1 {
    font-family: 'Barrio', cursive;
    font-size: 55px;
    color:#003d99;
    text-align: center;
}
#searchbar{
    width: 75%;
    margin-left: 13%;
    margin-top: 6%;
    border-radius: 8px;
    border: none;
}
#searchbar2{
    width: 75%;
    margin-left: 33%;
    margin-top: -5%;
    border-radius: 8px;
    border: none;
}
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    width : 100px;
}
 h5 {
    font-family: 'Barrio', cursive;
    font-weight: 600;
    font-size: 28px;
    color: white;
}
#line{
    margin-top: 0.2%;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 22%;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
}
